<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; font-family: cursive; font-weight: bold;">
        <h1 style="color: #33A5FF">Z</h1>
        <h1 style="color:  #c41f1f;">a</h1>
        <h1 style="color:  #d6a400;">m</h1>
        <h1 style="color:  #33A5FF;">y</h1>
        
        
        <div style="margin-left: 10px; display: flex;">
            <h1 style="color: #2fa81f;">G</h1>
            <h1 style="color: #c41f1f;">a</h1>
            <h1 style="color: #33A5FF">n</h1>
            <h1 style="color:  #c41f1f;">t</h1>
            <h1 style="color:  #d6a400;">e</h1>
            <h1 style="color:  #33A5FF;">n</h1>
            <h1 style="color: #2fa81f;">g</h1>
        </div>
    </div>
</body>
</html>